@import "../../sass/base/base";
@import "../../sass/base/mixins";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "../../sass/normalize/normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@import "../../sass/typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

@import "../../sass/elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

@import "../../sass/forms/forms";


body {
	background-color: #fff;
}

body.content {
	margin: 15px;

	ol,
	ul {
		margin-bottom: 20px;
		margin-left: 30px;
	}

	ol li {
		list-style-type: decimal;
	}

	ul li {
		list-style-type: square;
	}

	ul ul,
	ol ul,
	ul ol,
	ol ol {
	  margin-bottom: 0;
	}

}
