body {
	color: 						$body-font-color;
	font-family: 				"Lato", Helvetica, Arial, sans-serif;
	@include 					font-size(17);
	font-weight: 				300;
	line-height: 				34px;
	background-color: 			$body-bg-color;
}

a {
	color: 						$link-color;
	text-decoration: 			none;

	&:hover {
		color: 						$link-color-hover;
	}
}

@import "headings";

@import "copy";
