.hentry {
  border-bottom: 			2px solid $gray-lightest;
  margin: 					0 0 80px;
  padding: 					0 0 10px;
  position: 				relative;
}

.single .hentry,
.page .hentry {
	margin-bottom: 			0;
}

.site-main .hentry:last-of-type {
  border-bottom: 			0;
}

.sticky {
	display: 				block;
}

.entry-header {
	margin-bottom: 			15px;
}

.entry-title {
	clear: 					both;
	line-height: 			1;
	margin-bottom: 			24px;
	@include 				font-size(20);
	font-weight: 			400;
	text-transform: 		uppercase;
} 
@media (min-width: $medium-screen) {
	.entry-title {
		@include 			font-size(28);
	}
}

.page-title {
	@include 				font-size(18);
	padding-bottom: 		24px;
	color: 					$secondary-color;
}

.taxonomy-description {
	@include 				font-size(16);
	background-color: 		$accent-color;
	padding: 				30px;
	margin-bottom: 			24px;

	p:last-child {
		margin-bottom: 		0;
	}
}

.more-link {
	display: 				block;
	margin-top: 			10px;
	text-transform: 		uppercase;
	@include 				font-size(13);
	font-weight: 			normal;
	letter-spacing: 		1px;

	a {
		display: 			inline-block;
		padding: 			0 10px;
		border: 			2px solid $gray-lightest;
		border-radius: 		3px;

		&:hover {
			border-color: 	$link-color;
		}
	}
}

.entry-meta,
.entry-footer {
	@include 				font-size(12);
	text-transform: 		uppercase;
	letter-spacing: 		1px;
	font-weight: 			bold;
	color: 					$secondary-color;
	clear: 					both;

	a {
		color: 				$secondary-color !important;

		&:hover {
			color: 			$secondary-color !important;
			text-decoration: underline;
		}
	}
}

.entry-meta {
	line-height: 			20px;

	.edit-link {
		padding-left: 		10px;
	}
}

.entry-footer {
	padding-bottom: 		10px;

	.cat-links,
	.comments-link {
		padding-right: 		10px;
	}

	.tags-links {
		display: 			block;
		line-height: 		22px;

		a {
			display: 		inline-block;
			padding: 		0 10px;
			border: 		1px solid $gray-lightest;
			margin: 		5px 10px 5px 0;
			border-radius: 	3px;

			&:hover {
				border-color: $link-color;
				text-decoration: none;
			}
		}
	}

}

.byline,
.updated:not(.published){
	display: 				none;
}

.single .byline,
.group-blog .byline {
	display: 				inline;
}

.page-links {
	clear: 					both;
	margin: 				0 0 20px;

	a {
		display: 			inline-block;
		padding: 			1px 10px;
		border: 			1px solid $gray-lighter;
		color: 				$body-font-color;
		background-color: 	#fff;
	}

	a:hover {
		text-decoration: 	none;
		background-color: 	$gray-lightest !important;
	}

}

.nav-links {
	clear: 					both;
	border-top: 			1px solid $gray-lightest;
	border-bottom: 			1px solid $gray-lightest;
	@include 				font-size(16);
	line-height: 			50px;

	a, a:hover {
		text-decoration: none;
		@include 			opacity(0.6);
	}

	a:hover {
		@include 			opacity(1);
	}

	.nav-previous {
		float: 				left;
	}

	.nav-next {
		float: 				right;
	}

	.page-numbers {
		@include 			font-size(16);
		padding: 			0 5px;
		font-weight: 		normal;
	}

}

.post-thumbnail {
	display: 				block;
	overflow: 				hidden;
	margin: 				20px 0 10px;

	img {
		width: 				100%;
		height: 			auto;
		vertical-align: 	middle;
	}
}

.author-info {
	clear: 					both;
	margin: 				40px 0;
	padding: 				24px;
	background-color: 		$tertiary-color;

	.author-avatar {
		float: 				left;
		margin-right: 		20px;
	}
	.author-title {
		@include 			font-size(16);
		font-weight: 		bold;
		margin-bottom: 		5px;
	}
	.author-bio {
		@include 			font-size(16);
		line-height: 		1.4;
	}
	p:last-child {
		border: 			none;
		margin-bottom: 		0;
		padding-bottom: 	0;
	}
}

/* Portfolio CPT
--------------------------------------------- */

body.post-type-archive-portfolio .content-area {
	text-align: 			center;

	.entry-title {
		@include 			font-size(20);
		margin: 			10px 0 20px 0;
		font-weight: 		300;


		a {
			color: 			$heading-font-color;

			&:hover {
				color: 		$link-color;
			}
		}
	}

	.page-title {
		@include 			font-size(32);
		color: 				$heading-font-color;
		margin-bottom: 		10px;
		font-weight: 		300;
		text-transform: 	uppercase;
	}

	img {
		@include 			transition(all .2s ease);
		box-shadow: 		0 1px 3px rgba(0,0,0,0.7);

		&:hover {
			box-shadow: 		0 1px 5px $primary-color;
		}
	}

	.portfolio-post {
		padding-bottom: 	30px;
	}

	.portfolio-description {
		background-color: 	#f9f9f9;
		margin-bottom: 		40px;
		padding: 			20px 20px 0 20px;
		border: 			1px solid #f7f7f7;
	}

}

body.single-portfolio {
	.entry-title {
		text-align: 		center;
	}
}

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/

@import "front-page";
