.alignleft {
	display: 		inline;
	float: 			left;
	margin-right: 	24px;
}

.alignright {
	display: 		inline;
	float: 			right;
	margin-left: 	24px;
}

.aligncenter {
	clear: 			both;
	@include 		center-block;
}
